{:source-paths ["src"]
 :dependencies [[binaryage/devtools "1.0.6"]
                [nrepl "1.0.0"]
                [reagent "1.1.1"]
                [reagent-utils "0.3.4"]
                [metosin/reitit "0.7.0-alpha7"]
                [pez/clerk "1.0.0"]
                [clj-commons/cljss "1.6.4"]
                [venantius/accountant "0.2.5"
                 :exclusions [org.clojure/tools.reader]]]
 :builds       {:app {:target     :browser
                      :output-dir "public/js"
                      :asset-path "/js"
                      :modules    {:app {:entries [murrrrrr.core]
                                         :init-fn murrrrrr.core/init!}}
                      :devtools   {:after-load murrrrrr.core/mount-root}}}

 :dev-http     {3000 {:root "public"}}}
