:root {
  --bg: #000;
  --primary: #fff;

  --dark: var(--black);
  --light: var(--white);

  --spring: cubic-bezier(0.58, 2, 0.59, 0.65);
  --pontus: cubic-bezier(0.23, 1, 0.32, 1);

  --padding: 2em;

  --mobile: 768px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: #ddd;
    --primary: #000;
  }
}

.light-mode {
  --bg: #fff;
  --primary: #000;
}

.dark-mode {
  --bg: #000;
  --primary: #fff;
}

body {
  font-family: "Helvetica Neue", Verdana, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  line-height: 1.5em;
  transition: all 0.3s ease;
  transition-property: background-color, color;
  will-change: background-color, color;
  color: var(--primary);
  background-color: var(--bg);

  margin: 0;
  padding: var(--padding);

  min-height: 100vh;

  overflow-x: hidden;
}

#app {
  margin: 0;
  padding: 0;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;

  padding: var(--padding);
}

header > nav > ul {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
  gap: 1em;

  list-style: none;
}

footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.clip,
.letter {
  display: inline-block;
}

.initial {
  --op: 0;
  --mat: var(--hidden-mat);
}

.visible {
  --op: 1;
  --mat: var(--visible-mat);
  --speed: 0.4s;
}

.hidden {
  --op: 0;
  --mat: var(--hidden-mat);
  --speed: 0;
}

.animated {
  white-space: pre-wrap;
}

.letter {
  backface-visibility: visible;
  transition: all var(--speed) var(--spring);
  transition-property: transform, opacity;
  transform-style: preserve-3d;
  transform-origin: center center;
  text-rendering: optimizeLegibility;
  transform: var(--mat);
  opacity: var(--op);
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.border {
  border: 1px solid #09f;
}

#app canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.full-screen {
  position: relative;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}

.colorscheme-toggle {
  --dark-bg: #444;
  --dark-border: #777;
  --dark-btn: #666;
  --light-bg: #ddd;
  --light-border: #777;
  --light-btn: #ccc;
}

.colorscheme-toggle[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: var(--dark-bg);
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 4em;
  height: 2em;
  border: 0.15em solid var(--dark-border);
  border-radius: 999em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  transition: 400ms background-color ease;
}

.colorscheme-toggle[type="checkbox"]::before {
  content: "";
  width: 1.4em;
  height: 1.4em;
  transform: translateX(1em);
  transition: 200ms transform ease, 400ms background-color ease;
  box-shadow: inset 1em 1em blue;
  border-radius: 999em;
  box-shadow: inset 1em 1em var(--dark-btn);

  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

.colorscheme-toggle[type="checkbox"]:checked {
  background-color: var(--light-bg);
  border-color: var(--light-border);
}

.colorscheme-toggle[type="checkbox"]:checked::before {
  box-shadow: inset 1em 1em var(--light-btn);
  transform: translateX(-1em);
}

.spiel {
  width: 100%;
  max-width: 72ch;
}

.obstacle {
  overflow: hidden;
  min-width: 200px;
  min-height: 200px;
}
